
[Aa]rtifacts/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Aa]ctual[Ii]mages/
[Ll]og/
[Ll]ogs/
[Aa]ctual[Ii]mages.meta
[Ss]treaming[Aa]ssets.meta
.vs
.vscode
.idea
.DS_Store
*.aspx
*.browser
*.exe
*.ini
*.map
*.mdb
*.npmrc
*.pyc
*.resS
*.sdf
*.sublime-project
*.sublime-workspace
*.suo
*.userprefs
.npmrc


